In [62]:
import numpy as np
import matplotlib.pyplot as plt
# import seaborn as sns

In [63]:
import numpy as np
import matplotlib.pyplot as plt
# Rows = students (10 students)
# Columns = subjects (Math, Physics, Chemistry, English, Computer Science)
marks = np.array([
    [78, 65, 72, 81, 90],  # Student 1
    [55, 48, 60, 58, 62],  # Student 2
    [92, 88, 85, 91, 95],  # Student 3
    [66, 74, 70, 69, 72],  # Student 4
    [40, 39, 45, 50, 44],  # Student 5
    [83, 79, 77, 85, 88],  # Student 6
    [58, 61, 55, 63, 60],  # Student 7
    [71, 68, 73, 70, 76],  # Student 8
    [89, 92, 90, 87, 93],  # Student 9
    [100, 100, 100, 100, 100],  # Student 10
])


average_marks = np.mean(marks, axis=0)
print("Average Marks per Subject (as a percentage):", average_marks)

avg_student = np.mean(marks, axis=1)
print("Average marks of each student:", avg_student)

print("Highest marks obtained by a student:", np.max(avg_student))

overall_average = np.mean(average_marks)
print("Overall Average Marks (as a percentage):", overall_average)

passing_marks = 40

maths_passed = np.sum(marks[:, 0] >= passing_marks)
physics_passed = np.sum(marks[:, 1] >= passing_marks)
chemistry_passed = np.sum(marks[:, 2] >= passing_marks)
english_passed = np.sum(marks[:, 3] >= passing_marks)
cs_passed = np.sum(marks[:, 4] >= passing_marks)

print("Total number of Students that are passed in Maths are : ", maths_passed)
print("Total number of Students that are passed in Physics are : ", physics_passed)
print("Total number of Students that are passed in Chemistry are : ", chemistry_passed)
print("Total number of Students that are passed in English are : ", english_passed)
print("Total number of Students that are passed in Computer Science are : ", cs_passed)



# # Subject names (for reference)
# subjects = ["Math", "Physics", "Chemistry", "English", "Computer Science"]

# # Define the pass mark
# pass_mark = 40

# # Loop through each subject (column)
# for i in range(marks.shape[1]):   # marks.shape[1] = number of columns (5 subjects)
#     subject_marks = marks[:, i]   # take all student marks for subject i
#     passes = np.sum(subject_marks >= pass_mark)  # count how many >= pass_mark
#     print(f"{subjects[i]}: {passes} students passed")

Average Marks per Subject (as a percentage): [73.2 71.4 72.7 75.4 78. ]
Average marks of each student: [ 77.2  56.6  90.2  70.2  43.6  82.4  59.4  71.6  90.2 100. ]
Highest marks obtained by a student: 100.0
Overall Average Marks (as a percentage): 74.14000000000001
Total number of Students that are passed in Maths are :  10
Total number of Students that are passed in Physics are :  9
Total number of Students that are passed in Chemistry are :  10
Total number of Students that are passed in English are :  10
Total number of Students that are passed in Computer Science are :  10

In [64]:
import numpy as np
import matplotlib.pyplot as plt
# Rows = students (10 students)
# Columns = subjects (Math, Physics, Chemistry, English, Computer Science)
marks = np.array([
    [78, 65, 72, 81, 90],  # Student 1
    [55, 48, 60, 58, 62],  # Student 2
    [92, 88, 85, 91, 95],  # Student 3
    [66, 74, 70, 69, 72],  # Student 4
    [40, 39, 45, 50, 44],  # Student 5
    [83, 79, 77, 85, 88],  # Student 6
    [58, 61, 55, 63, 60],  # Student 7
    [71, 68, 73, 70, 76],  # Student 8
    [89, 92, 90, 87, 93],  # Student 9
    [100, 100, 100, 100, 100],  # Student 10
])

maths_marks = np.array(marks[: , 0])
print("Math marks are: ", maths_marks)

average_math = np.mean(maths_marks)
print("Total Average of All Marks are: " , average_math)

highest_marks = np.max(maths_marks)
print("Highest in maths is: ", highest_marks)

lowest_marks = np.min(maths_marks)
print("Lowest in maths is: ", lowest_marks)

passes_marks = 40

maths_passed = np.sum(marks[:, 0] >= passes_marks)
print("Passes marks are: ", maths_passed)


print("\n")

physics_marks = np.array(marks[: ,1])
print("Pyhsics marks are: ", physics_marks)

average_physics = np.mean(physics_marks)
print("Total Average of All Marks are: " , average_physics)

highest_marks1 = np.max(physics_marks)
print("Highest in physics is: ", highest_marks1)

lowest_marks1  = np.min(physics_marks)
print("Lowest in physics is: ", lowest_marks1)


physics_passed = np.sum(marks[: , 1] >= passes_marks)
print("Passes marks are: ", physics_passed)


#can do this for all subjects

Math marks are:  [ 78  55  92  66  40  83  58  71  89 100]
Total Average of All Marks are:  73.2
Highest in maths is:  100
Lowest in maths is:  40
Passes marks are:  10


Pyhsics marks are:  [ 65  48  88  74  39  79  61  68  92 100]
Total Average of All Marks are:  71.4
Highest in physics is:  100
Lowest in physics is:  39
Passes marks are:  9

In [65]:
marks = np.array([
    [78, 65, 72, 81, 90],  # Student 1
    [55, 48, 60, 58, 62],  # Student 2
    [92, 88, 85, 91, 95],  # Student 3
    [66, 74, 70, 69, 72],  # Student 4
    [40, 39, 45, 50, 44],  # Student 5
    [83, 79, 77, 85, 88],  # Student 6
    [58, 61, 55, 63, 60],  # Student 7
    [71, 68, 73, 70, 76],  # Student 8
    [89, 92, 90, 87, 93],  # Student 9
    [100, 100, 100, 100, 100],  # Student 10
])
student1 = np.array(marks[0])
print("Student 1 is: ", student1)
student2 = np.array(marks[1])
print("Student 2 is: ", student2)
student3 = np.array(marks[2])
print("Student 3 is: ", student3)
student4 = np.array(marks[3])
print("Student 4 is: ", student4)
student5 = np.array(marks[4])
print("Student 5 is: ", student5)
student6 = np.array(marks[5])
print("Student 6 is: ", student6)
student7 = np.array(marks[6])
print("Student 7 is: ", student7)
student8 = np.array(marks[7])
print("Student 8 is: ", student7)
student9 = np.array(marks[8])
print("Student 9 is: ", student8)
student10 = np.array(marks[9])
print("Student 10 is: ", student10)


total_marks = np.sum(marks [0])
print("Total marks of student 1 is: ", total_marks)

student1_average = np.mean(marks [0])
print("Student 1 average is: ", student1_average)


passes_marks = 40

studen1_subjets_passed = np.sum(marks[0] >= passes_marks)
print("Student 1 passes subjects: ", studen1_subjets_passed)

#can do this for all studnets

Student 1 is:  [78 65 72 81 90]
Student 2 is:  [55 48 60 58 62]
Student 3 is:  [92 88 85 91 95]
Student 4 is:  [66 74 70 69 72]
Student 5 is:  [40 39 45 50 44]
Student 6 is:  [83 79 77 85 88]
Student 7 is:  [58 61 55 63 60]
Student 8 is:  [58 61 55 63 60]
Student 9 is:  [71 68 73 70 76]
Student 10 is:  [100 100 100 100 100]
Total marks of student 1 is:  386
Student 1 average is:  77.2
Student 1 passes subjects:  5

In [66]:
overall_class_average = np.mean(marks[0:9])
print("overall class avg. is ", overall_class_average)

student_avgs = np.mean(marks, axis=1)
print("Student Avgs: ", student_avgs)



print("\n")

ranked = np.argsort(-student_avgs)[:3]
print("top 3: ", ranked)

overall class avg. is  71.26666666666667
Student Avgs:  [ 77.2  56.6  90.2  70.2  43.6  82.4  59.4  71.6  90.2 100. ]


top 3:  [9 2 8]

In [67]:
grades = np.where(student_avgs >= 85, "A",
         np.where(student_avgs >= 70, "B",
         np.where(student_avgs >= 55, "C", "F")))

print("Class Average:", overall_class_average)
print("Student Averages:", student1_average)
print("Grades:", grades)

Class Average: 71.26666666666667
Student Averages: 77.2
Grades: ['B' 'C' 'A' 'B' 'F' 'B' 'C' 'B' 'A' 'A']

In [70]:
import sys
print(sys.executable)

c:\Users\SULEMAN\AppData\Local\Programs\Python\Python313\python.exe

In [71]:
!<c:\Users\SULEMAN\AppData\Local\Programs\Python\Python313\python.exe> -m pip install seaborn

In [ ]:
import matplotlib.pyplot as plt
import seaborn
import numpy as np

#Bar Chart: Subject Averages
plt.figure(figsize=(8,5))
plt.bar(range(1, marks.shape[1]+1), marks.mean(axis=0))
plt.title("Average Marks per Subject")
plt.xlabel("Subjects")
plt.ylabel("Average Marks")
plt.show()

#Bar Chart: Student Averages
plt.figure(figsize=(8,5))
plt.bar(range(1, marks.shape[0]+1), marks.mean(axis=1))
plt.title("Average Marks per Student")
plt.xlabel("Students")
plt.ylabel("Average Marks")
plt.show()

#Heatmap: Marks Table
plt.figure(figsize=(8,6))
seaborn.heatmap(marks, annot=True, cmap="YlGnBu", fmt="d", cbar=True)
plt.title("Heatmap of Student Marks")
plt.xlabel("Subjects")
plt.ylabel("Students")
plt.show()